<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="note_style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body>
  <div class="section-container">
    <div class="container">
      <div class="post-container">
        <div class="post-content">
          <h3 class="content-div">Note:</h3>
        </div>
        <div style="width: 200px; word-wrap: break-word;"><%= note.description %><br></div>
        <h5>By:<%= "#{ note.user.first_name } on #{note.updated_at.strftime("%B %d, %Y")}" %></h5>
        <% if @appointment.status == 'pending' %>
        <%= link_to 'Delete', [note.appointment, note],
                 method: :delete, class: "button is-danger", data: { confirm: 'Are you sure to delete?' } %>
        <!-- <%= link_to 'Edit', edit_appointment_note_path(note.appointment, note) %> -->
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="note_field">
    
  </div>
</body>
