/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-container {
  width: 95%;
}
select#appointment_doctor_id {
  width: 16%;
}
a#get_timeslots {
  text-docoration: none;
}
nav {
  position: relative;
  border: 2px solid lightblue;
  height: 40px;
  background-color: lightblue;
  top: -10px;
  left: -8px;
  width: 101%;
}
li {
  float: left;
  padding-right: 40px;
  list-style: none;
  a {
    text-decoration: none;
    color: midnightblue;
  }
  position: relative;
  bottom: 4px;
}
div#sign_up_form, div#sign_in_form{
  margin-right: 15%;
  margin-left: 20%;
  border: 2px solid black;
  border-radius: 1%;
  padding-left: 6%;
  padding-bottom: 1%;
  h2{
    text-align: center;
    font-weight: 800;
    margin-left: -15%;
    text-decoration: underline;
  }
  form input:not(#log_user):not(#user_remember_me){
    width: 50%;
    height: 20px;
    padding: 5px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: rgba(122,122,122,0.02);
  }
  label{
    font-family: sans-serif;
    font-weight: 400;
  }
  .form-group, .field{
    padding: 5px 0px;
  }
}