/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

//Variable declaration
$primary-color: #b3ffb3;
$border-color: #006600;

/* Style up the top navigation bar */
.top-navigation {
  width: 100%;
  margin: 10px;
  padding: 10px;
  position: absolute;
  font-family: 'Alegreya Sans SC';
  font-size: 18px;
  /* Style the bootstrap button */
  button.btn.btn-default {
    margin-top: 8px;
  }
}
body {
  font-family: 'Alegreya Sans SC';
  font-size: 18px;
}
/* Main body container */
.main-container {
  position: absolute;
  margin-top: 40px;
  padding-top: 40px;
  width: 100%;
  background: url("Background.jpg");
  z-index: -1;
  opacity: 0.9;
  .row {
    margin: 2px;
    padding: 2px;
  }
  .form-control {
    width: 30%;
  }
  /* Style sign-in-form for user login */
  .sign-in-form {
    position: relative;
    margin: 10px;
    width: 30%;
    height: 560px;
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 10px;
    background: radial-gradient(circle, $primary-color, white)
  }
  /* Style sign-up-form for user login */
  .sign-up-form {
    position: relative;
    margin: 10px;
    width: 30%;
    height: auto;
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 10px;
    background: radial-gradient(circle, $primary-color, white)
  }
  /* Style the inner container-fluid */
  .container-fluid {
    margin: 10px;
    padding: 10px;
  }
  .well {
    background: radial-gradient(circle, $primary-color, white)
  }
  /* Position the gmail, twitter & facebook icons */
  .twitter-icon, .google-icon {
    position: relative;
    left: 85px;
  }
  .facebook-icon {
    position: relative;
    left: 75px;
  }
  .links {
    position: relative;
    left: 85px;
  }
  /* Style the custom errors messages */
  .validation-err-message, .notice, .alert {
    color : #ff0000;
    font-style: italic;
  }
}
.navbar-brand {
  cursor: default;
}
