<div class="tr">
  <div class="tc" id="tc">
    <div class="radio_buttons">
      <%= label_tag :Available_Slots %><br />
      <% @available_slots.each do |slots| %>
        <%= radio_button_tag(:time_slot, "#{slots}") %>
        <%= label_tag(:time_slot, "#{slots}") %>
      <% end %>
    </div>
  </div>
</div>