%h1#index_header.text My Upcoming Appointments
- if @appointments.blank?
  %p No appointments found.
- else
  #container_top_index.container-fluid.well
    .row
      .col-sm-2
        %u
          %b Date
      .col-sm-2
        %u
          %b Name
      .col-sm-2
        %u
          %b Status
      - if current_user.patient?
        .col-sm-2
          %u
            %b Actions
    %br/
    #upcoming-appointments
      = render @appointments

  #infinite_scrolling.paginate-field
    = will_paginate @appointments
