%h1.well My Upcoming Appointments
- if @appointments.blank?
  %p No appointments found.
- else
  #container_top_index.container-fluid.well
    .row
      .col-sm-2
        %u
          %b Date
      .col-sm-2
        %u
          %b Name
      .col-sm-2
        %u
          %b Status
      - if current_user.patient?
        .col-sm-2
          %u
            %b Actions
    %br/
    #upcoming_appointments
      - @appointments.each do |appointment|
        = render 'shared/appointments/appointment', appointment: appointment
    = will_paginate 
    /= link_to 'Load More Appointments', appointments_path(page: @appointments.next_page), class: 'load-more-appointments btn btn-primary', remote: true if @appointments.next_page
