.slideshow-container
  .mySlides.fade
    .numbertext 1/3
    =image_tag "img1.jpg", style: "width: 100%"
    .text Caption
  .mySlides.fade
    .numbertext 2/3
    =image_tag "img2.jpg", style: "width: 100%"
    .text Caption
  .mySlides.fade
    .numbertext 3/3
    =image_tag "img3.jpg", style: "width: 100%"
    .text Caption
  %a.prev{onclick: "plusSlides(-1)"} &#10094;
  %a.next{onclick: "plusSlides(1)"} &#10095;
  %div{style: "text-align:center"}
    %span.dot{onclick: "currentSlide(1)"}
    %span.dot{onclick: "currentSlide(2)"}
    %span.dot{onclick: "currentSlide(3)"}
%srcipt{src: "carousel.js"}
%h1.well My Upcoming Appointments
- if @appointments.blank?
  %p No appointments found.
- else
  #container_top_index.container-fluid.well
    .row
      .col-sm-2
        %u
          %b Date
      .col-sm-2
        %u
          %b Name
      .col-sm-2
        %u
          %b Status
      - if current_user.patient?
        .col-sm-2
          %u
            %b Actions
    %br/
    #upcoming_appointments
      = render @appointments
    = link_to 'Load More Appointments', appointments_path(page: @appointments.next_page), class: 'load-more-appointments', remote: true if @appointments.next_page
